.Pagination{

}
.Pagination__pages{
  display: flex;
  justify-content: end;
}
 ul{
   list-style-type: none;
   margin-right: 28px;
}
 li{
   display: inline;
   margin-left:5px;
   cursor: pointer;
 }
li:hover{
  background-color: #75aaf1;
}
.Pagination__item-active{
  background-color: #535353;
}
