/* Контрол с общими действиями */
.basket{
    position: fixed;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    background-color: rgba(0,0,0,0.4);
    display: flex;
    justify-content: center;
    align-items: center;
    visibility: hidden;
}
.basket.active{
    visibility: visible;
}

.basket__content{

    background-color: white;
}
