/* Контрол с общими действиями */
.Controls{
    display: flex;
    justify-content: flex-end;
    padding: 21px 35px 23px 0;
}
.Controls__count-container{
    display: flex;

}
.Controls__count-container div{
    margin: 0 5px;
}